h1, h2, h3, h4, h5 {
  margin-bottom: $small-spacing;
  color: $primary-color;
}

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.75em;
}

p {
  line-height: 1.75;
  color: lighten($base-font-color, 18);
}

strong {
  color: lighten($base-font-color, 33);
}
