@import 'variables';
@import 'typography';
@import 'forms';

li {
  margin: ($base-spacing / 2) 0;
  font-size: 1.15em;
  line-height: 1.5;
  color: lighten($base-font-color, 10%);
}

.card {
  padding: $base-spacing;
  max-width: $large-screen;
  border: 1px solid $primary-color;
  border-color: $primary-color;
  display: block;
  margin: $base-spacing auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: ($small-spacing / 2) ($small-spacing / 2) 0px lighten($primary-color, 45%);

  @media screen and (min-width: $large-screen) {
    box-shadow: $small-spacing $small-spacing 0px lighten($primary-color, 45%);
  }
}

section.privacy-policy {
  @extend.card;
  position: relative;

  .secondary-button {
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
  }
}

section.call-to-action {
  @extend.card;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

section.terms-and-conditions {
  @extend.card;
  position: relative;

  .secondary-button {
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
  }
}

.primary-button {
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($primary-color, 20%);
  }
}

.secondary-button {
  background-color: white;
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 3px;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: darken($primary-color, 20%);
    color: white;
  }
}


body {
  background-color: $background-color;
  color: $base-font-color;
  font-family: "TTCommons", -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

a, strong {
  color: $primary-color;
}

nav.navigation {
  border-bottom: 2px solid $primary-color;
  border-color: $primary-color;
  color: $primary-color;
  display: block;
  padding: 0;

  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-right: $small-spacing;
    }

    li.logo {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      margin-left: $small-spacing;
      margin-right: auto;
      font-weight: 500;
      font-size: 2em;
      color: $primary-color;

      img {
        height: 48px;
        max-height: $navigation-height;
        width: auto;
        margin-right: 0;
        margin-bottom: 5px;
      }

      @media screen and (max-width: 700px) {
        margin-left: 0;
        font-size: 1.25em;

        img {
          height: 36px;
        }
      }
    }
  }
}

section.main {
  max-width: $large-screen;
  margin: 0 auto;
  display: block;
  padding: 0 $small-spacing;
}

section.segment {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: $base-spacing 0;
  margin-bottom: $base-spacing * 2;
  @extend.card;
  background-image: linear-gradient(to bottom right, #9378C3, #673AB7);
  background-color: #4A2A84;
  padding: 0;

  figure {
    max-width: 100%;
    margin: 7vh $base-spacing;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
  }

  img {
    width: 128px;
    margin: 0 auto;
  }


  section.copy {
    background-color: white;
    max-width: 100%;
    height: 100%;
    padding: $base-spacing;
    border-top: 1px solid $primary-color;
    border-left: 0 solid $primary-color;

    h2 {
      text-align: center;
      margin-top: $small-spacing;
    }
  }


  @media screen and (min-width: $large-screen) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    figure {
      margin-top: $base-spacing;
    }

    section.copy {
      border-top: 0 solid $primary-color;
      border-left: 1px solid $primary-color;

      h2 {
        text-align: left;
      }
    }
  }
}

section#hero {
  margin-bottom: 15vh !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: $base-spacing 0;
  margin-bottom: $base-spacing * 2;

  section.copy {
    @extend.card;
  }


  @media screen and (min-width: $large-screen) {
    min-height: 70vh;
  }
}

section.links {
  display: flex;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  a {
    margin: 0 $small-spacing;
  }
}



footer {
  margin-top: $base-spacing * 3;
  min-height: 40vh;
  background-color: darken($primary-color, 10);
  padding: $base-spacing;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-left: 0;
    padding-inline-start: 0px;

    li {
      margin-bottom: $small-spacing;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
