<nav class="navigation">
  <ul>
    <li class="logo"><%=image_tag "open-guilds-logo.png" %>penGuilds</li>
    <li><%= link_to 'Docs', 'http://docs.openguilds.com/' %>
    <li><%= link_to 'Sign up', 'https://dashboard.openguilds.com/users/sign_up/' %></li>
    <li><%= link_to 'Sign in', 'https://dashboard.openguilds.com/users/sign_in/' %></li>
  </ul>
</nav>
