<section class="terms-and-conditions">

<h1>TERMS OF SERVICE</h1>

<%= link_to 'Back', uri_root_path, class: 'secondary-button' %>

<hr />

<p>Last Updated: January 18, 2019</p>

<p>
<strong>IMPORTANT:</strong> Carefully read these Terms of Service 
(this “Agreement”) before using the Service (as defined below).
</p>

<p>
This Agreement creates a binding legal agreement between you (“Customer”) 
and OpenGuilds Inc. with a principal place of business at 
725 Granville Street, Suite 400, Vancouver V7Y 1G5 (“OpenGuilds”).

<strong>
  BY USING THE SERVICE, YOU IRREVOCABLY ACCEPT THE TERMS AND CONDITIONS 
  OF THIS AGREEMENT.
</strong>
You also agree to ensure that anyone who uses the Service using your password 
or login information abides by this Agreement.

IF YOU ARE ENTERING THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, 
YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY TO THIS AGREEMENT, 
IN WHICH CASE, THE TERM “CUSTOMER” WILL REFER TO SUCH ENTITY.  
IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THIS AGREEMENT, 
YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICE.

By accepting this Agreement, you agree to be bound by the terms and conditions 
of this Agreement, as well as OpenGuilds Privacy Policy located at 
<%= link_to 'https://openguilds.com/privacy', 'privacy' %>
(the “Privacy Policy”), as it may be amended from time to time in the future.

OpenGuilds may update this Agreement or the Privacy Policy at any time, without 
notification to you, and you should review this Agreement and the Privacy Policy 
from time to time by accessing the Service.  Your continued use of the Service
will be deemed irrevocable acceptance of any such revisions.
Before you continue, you should print or save a local copy of this Agreement
and the Privacy Policy for your records.

In order to enter into this Agreement, you must have reached the legal age of 
majority in your jurisdiction of residence, and by fully able and competent to 
enter into the terms, conditions, obligations, affirmations, representation and 
warranties set forth in this Agreement, and to abide by and comply with this 
Agreement. It is your responsibility to ensure that you are legally eligible to 
enter into this Agreement under any laws applicable to you.  
If you accept this Agreement, you represent that you have the capacity to be 
bound by it.
</p>

<hr />

<section id="definitions">
<h2><strong>DEFINITIONS.</strong></h2>

<p>
As used in this Agreement:

“Confidential Information” means all information regarding OpenGuilds’ business, 
including, without limitation, technical, marketing, financial, employee, 
planning and other confidential or proprietary information, disclosed under this 
Agreement, that is clearly identified as confidential or proprietary at the time 
of disclosure or that Customer knew or should have known, under the circumstances, 
was considered confidential or proprietary.  Confidential Information includes 
information derived from or concerning the Service, the System or the 
Documentation and the terms of this Agreement.

“Customer Data” means any data, information or information contained in any 
database, template or other similar document submitted by Customer through the 
Service or provided by Customer to OpenGuilds as part of the Service.

“Documentation” means the designated final user manuals, handbooks, 
online materials, specifications or forms furnished by OpenGuilds that describe 
the features, functionality or operation of the System. 

“Fees” is defined in Section 4.

“Order Form” means collectively the order documents representing the initial 
subscription to the Service (and any subsequent modifications to the 
subscription agreed to between the parties in writing from time to time) that, 
upon execution, are incorporated in and made a part of this Agreement from time to time.

“Service” means the on-line service delivered by OpenGuilds to Customer using 
the System, as made available by OpenGuilds from time-to-time as specified 
in the Order Form.

“System” means the technology, including hardware and software, used by 
OpenGuilds to deliver the Service to Customer in accordance with this Agreement.

“UserID” is defined in Section 3.1.

“Users” means Customer’s employees, representatives, consultants, 
contractors or agents who are authorized to use the Service on behalf of 
Customer and have been supplied user identifications and passwords for this purpose.
</p>
</section>

<hr />

<section id="the-service">
<h2><strong>THE SERVICE.</strong></h2>

<h3>Subscription to the Service.</h3>
<p>Conditional on Customer:</p>

<ul>
  <li>
    (a) complying with the provisions of this Agreement, 
    including but not limited to paying the Fees as required by this Agreement; and 
  </li>
  <li>
    (b) cooperating with the reasonable requests of OpenGuilds, 
  </li>
</ul>

<p>
OpenGuilds hereby grants to Customer a non-sublicensable, non-transferable, 
non-exclusive subscription to access and use the Service in accordance with 
this Agreement solely for 
Customer’s internal business purposes and not for resale or to provide services 
to third parties.  Customer may order the Service under this Agreement by placing 
written, signed orders on an Order Form.  Only the execution of an Order Form by 
Customer and by OpenGuilds constitutes a binding contract between those parties.  
Customer agrees that its purchase of the subscription is neither contingent upon 
the delivery of any future functionality or features nor dependent upon any oral 
or written public comments made by OpenGuilds with respect to future functionality 
or features.
</p>

<article id="support">
<h3>Support.</h3>
<p>
Subject to the terms of this Agreement, including, without limitation, the payment 
of the Fees set forth in Section 4 hereof, OpenGuilds shall 
use commercially reasonable efforts to correct any reproducible failure of the 
Service to substantially conform to its expected operation, provided that 
OpenGuilds will not have an obligation to provide a correction for all such nonconformities.
</p>
</article>

<article id="internet-security-disclaimer">
<h3>Internet Security Disclaimer.</h3>
<p>
Customer acknowledges and agrees that OpenGuilds exercises no control over, and 
accepts no responsibility for, any content passing through the Internet or for 
Internet connectivity outside of OpenGuilds’ control.  Customer acknowledges that 
the Internet is inherently risky despite reasonable measures being taken, and 
Customer assumes responsibility for its use of the Service over the Internet.
</p>
</article>

<article id="limitation-and-termination">
<h3>Limitation, Suspension or Termination of Access.</h3>
<p>
In addition to other rights and remedies of OpenGuilds under this Agreement, 
OpenGuilds may suspend, terminate or limit (in OpenGuilds’ sole discretion) 
Customer’s access to or use of the Service, or any part of it, without notice in 
order to:
</p>
<ul>
  <li>(a) prevent damage to, or degradation of the integrity of the System or 
    any of Customer’s systems; 
  </li>
  <li>
    (b) comply with any law, regulation, court order or 
    other governmental request or order; or 
  </li>
  <li>
    (c) otherwise protect OpenGuilds from harm 
    to its reputation or business.  
  </li>
</ul>
<p>
OpenGuilds will use commercially reasonable efforts 
to notify Customer of a limitation, suspension or termination action as soon as 
reasonably practicable.  In the event of a limitation or suspension, OpenGuilds will 
restore Customer’s access to the Service when OpenGuilds determines the event has 
been resolved.  Nothing in this Agreement will limit OpenGuilds’ right to take 
any action or invoke remedies, or will act as a waiver of OpenGuilds’ rights in 
any way with respect to any of the foregoing activities.  OpenGuilds will not be 
responsible for any loss or damages of any kind incurred by Customer as a result 
of any limitation, termination or suspension of the Service under this Section  
2.4.
</p>
</article>
</section>

<hr />

<section id="use-of-service">
<h2><strong>CUSTOMER’S USE OF THE SERVICE.</strong></h2>

<article id="access-and-security">
<h3>Access and Security Guidelines.</h3>
<p>
Subject to any limitations associated with Customer’s subscription account, 
Customer may set up User accounts by supplying a unique user identification name 
and password (“UserID”) to OpenGuilds for each User.  Users may only access and 
use the Service with the specific UserID.  Customer is responsible to ensure 
UserIDs are not shared, and that Users retain the confidentiality of their 
UserIDs.  Customer is responsible for any and all activity occurring under the 
UserIDs associated with Users.  Customer will promptly notify OpenGuilds of any 
actual or suspected unauthorized use of the Service. OpenGuilds may require that 
a UserID be replaced at any time.
</p>
</article>

<article id="responsibilities-and-restrictions">
<h3>Customer Responsibilities and Restrictions.</h3>
<p>
Customer will, at all times, comply with all applicable local, state, federal 
and foreign laws in using the Service.  Without limiting the generality of 
Section  3.1, Customer agrees that Customer 
will not, and will not permit any person, including without limitation the Users, to:
</p>

<ul>
  <li>use the Service other than as permitted by this Agreement;</li>

  <li>
    use the Service to violate, infringe or appropriate any person’s privacy 
    rights, publicity rights, defamation rights, intellectual property rights, 
    proprietary rights, contractual rights or any other legal right;
  </li>

  <li>
    use the Service in a manner that is misleading, deceptive or fraudulent or 
    otherwise illegal or promotes illegal activities, including engaging in phishing 
    or otherwise obtaining financial or other personal information in a misleading 
    manner or for fraudulent or misleading purposes;
  </li>

  <li>
    use the Service in a manner that is libelous or defamatory, harmful to 
    minors in any way, or that is otherwise threatening, abusive, violent, 
    harassing, malicious or harmful to any person or entity, or is invasive of 
    another’s privacy;
  </li>

  <li>
    use the Service in a manner that is hateful or discriminatory based on race, 
    colour, sex, religion, nationality, ethnic or national origin, marital status, 
    disability, sexual orientation or age or is otherwise objectionable, as 
    reasonably determined by OpenGuilds;
  </li>

  <li>
    use the Service to impersonate a OpenGuilds employee, or any other person, or 
    falsely state or otherwise misrepresent your affiliation with any person or entity;
  </li>

  <li>
    if your subscription for or use of the Service involves the use of an account 
    for any third party site or service (each, a “Third Party Account”), directly 
    or indirectly use such Third Party Account in a manner that is in contravention 
    of the terms of use applicable to such Third Party Account;  
  </li>

  <li>
    sublicense or transfer any of Customer’s rights under this Agreement, except 
    as otherwise provided in this Agreement, or otherwise use the Service for 
    the benefit of a third party or to operate a service bureau;
  </li>

  <li>
    copy, modify, alter, change, translate, decrypt, obtain or extract the source 
    code of, create derivative works from, reverse engineer, reverse assemble, 
    decompile, disassemble or reverse compile any part of the Service;
  </li>
  <li>
    use or launch any automated system, including without limitation any “robot” 
    or “spider” that accesses the Service maliciously; or
  </li>
  <li>
    interfere with, or attempt to interfere with, the Service, the System or any 
    other networks or services connected to the Service, whether through the use 
    of viruses, bots, worms or any other computer code, file or program that 
    interrupts, destroys or limits the functionality of any computer software or hardware.
  </li>
</ul>
</article>

<article id="customer-data">
<h3>Customer Data.</h3>
<p>
Customer is solely responsible for the Customer Data and will not provide, post 
or transmit any Customer Data or any other information, data or material that:
</p>
<ul>
  <li>
    (a) infringes or violates any intellectual property rights, publicity/privacy 
    rights, law or regulation; or 
  </li>
  <li>
    (b) contains any viruses or programming routines intended to damage, 
    surreptitiously intercept or expropriate any system, data or personal 
    information.  OpenGuilds may take remedial action if Customer Data 
    violates this Section 3.3, however, 
    OpenGuilds is under no obligation to review Customer Data for accuracy or potential 
    liability.  
  </li>
</ul>
</article>
</section>

<hr />

<section id="fees-payment-and-suspension">
<h2><strong>FEES, PAYMENT AND SUSPENSION.</strong></h2>
<p>
As consideration for the subscription to the Service, Customer will pay 
OpenGuilds the fees (“Fees”) set forth in and in accordance with the Order Form.  
All Fees will be billed in advance on an annual basis and are due within thirty 
(30) days of receipt of invoice, unless otherwise agreed to in the Order Form.  
Overdue amounts shall accrue interest at the rate of 12% per annum, or at the 
highest legal interest rate, if less.  Customer shall reimburse OpenGuilds for 
all expenses (including reasonable attorneys’ fees) incurred by OpenGuilds to 
collect any amount that is not paid when due.  All Fees owed by Customer in 
connection with this Agreement are exclusive of, and Customer shall pay, all 
sales, use, excise and other taxes that may be levied upon Customer in connection 
with this Agreement, except for employment taxes and taxes based on OpenGuilds’ 
net income.  OpenGuilds reserves the right (in addition to any other rights or 
remedies OpenGuilds may have) to discontinue the Service and suspend all UserIDs 
and Customer’s access to the Service if any Fees set forth in the Order Form are 
more than thirty (30) days overdue until such amounts are paid in full.  
Customer shall maintain complete, accurate and up-to-date Customer billing and 
contact information at all times.
</p>
</section>

<hr />

<section id="confidential-information">
<h2><strong>CONFIDENTIAL INFORMATION.</strong></h2>

<article id="obligation">
<h3>Obligation.</h3>
<p>Customer agrees<p>
<ul>
  <li>
    (a) to hold the Confidential Information in strict 
    confidence, 
  </li>
  <li>
    (b) to limit access to the Confidential Information to those of its 
    employees or agents having a need to know and who are bound by confidentiality 
    obligations at least as restrictive as those contained herein, and 
  </li>
  <li>
    (c) not to use the Confidential Information for any purpose 
    except as expressly permitted hereunder.  
    Notwithstanding the foregoing, Customer will not be in violation of this Section  
    5.1 with regard to a disclosure that was in response to a 
    valid order or requirement by a court or other governmental body, provided that 
    Customer gives OpenGuilds prior written notice of such disclosure in order to permit 
    OpenGuilds to seek confidential treatment of such information. 
  </li>
</ul>
</article>

<article id="exceptions">
<h3>Exceptions.</h3>
<p>
The restrictions on use and disclosure of Confidential Information set forth 
above will not apply to any Confidential Information, or portion thereof, which 
</p>

<ul>
  <li>
    (a) is or becomes a part of the public domain through no act or omission of Customer, 
  </li>
  <li>
    (b) was in Customer’s lawful possession prior to the disclosure, as shown by 
    Customer’s competent written records, 
  </li>
  <li>
    (c) is independently developed by Customer without reference to the Confidential 
    Information, as shown by Customer’s competent written records, or 
  </li>
  <li>
    (d) is lawfully disclosed to Customer by a third party without restriction on disclosure.
  </li>
</ul>
</article>
</section>

<hr />

<section id="ownership">
<h2><strong>OWNERSHIP.</strong></h2>

<article id="system-and-technology">
<h3>System and Technology.</h3>
<p>
Customer acknowledges that OpenGuilds retains all right, title and interest in 
and to the System and all software, materials, formats, interfaces, information, 
data, content and OpenGuilds proprietary information and technology used by OpenGuilds 
or provided to Customer in connection with the Service (the “OpenGuilds Technology”), 
and that the OpenGuilds Technology is protected by intellectual property rights owned 
by or licensed to OpenGuilds.  Other than as expressly set forth in this Agreement, 
no license or other rights in the OpenGuilds Technology are granted to the Customer, 
and all such rights are hereby expressly reserved by OpenGuilds.  OpenGuilds shall 
have a royalty-free, worldwide, transferable, sublicenseable, irrevocable, 
perpetual license to use or incorporate into the Service any suggestions, 
enhancement requests, recommendations or other feedback provided by Customer, 
including Users, relating to the Service.
</p>
</article>

<article id="customer-data">
<h3>Customer Data.</h3>
<p>
Customer retains all right, title and interest in and to the Customer Data.  
OpenGuilds will only use Customer Data to provide the Service under this Agreement.  
Customer will be solely responsible for providing all Customer Data required for 
the proper operation of the Service.  Customer grants to OpenGuilds all necessary 
licenses in and to such Customer Data solely as necessary for OpenGuilds to provide 
the Service to Customer.  OpenGuilds will not knowingly use or access any Customer 
Data unless authorized to do so by Customer and, in such circumstances, OpenGuilds 
will access and use such Customer Data only as required to perform requested 
services on behalf of Customer.
</p>
</article>
</section>

<hr />

<section id="term-and-termination">
<h2><strong>TERM AND TERMINATION.</strong></h2>

<article id="term">
<h3>Term.</h3>
<p>
The term of this Agreement will commence on the Effective Date and will continue 
indefinitely, unless otherwise agreed to in the Order Form, until terminated by 
either party as set forth in this Section 7.
</p>
</article>

<article id="termination-for-convenience">
<h3>Termination for Convenience.</h3>
<p>
Either party may terminate this Agreement for any reason by giving the other 
party at least [thirty (30) days’] prior written notice.
</p>
</article>

<article id="termination-for-default">
<h3>Termination for Default.</h3>
<p>
Either party may terminate this Agreement upon written notice if the other party 
materially breaches this Agreement and does not cure such breach (if curable) 
within [thirty (30) days] after written notice of such breach.
</p>
</article>

<article id="effect-of-termination">
<h3>Effect of Termination.</h3>
<p>
Upon the termination of this Agreement for any reason, 
</p>
<ul>
  <li>
    (a) any amounts owed to OpenGuilds under this Agreement before such termination 
    will become immediately due and payable; and 
  </li>
  <li>
    (b) Customer will return to OpenGuilds all property (including any 
    Confidential Information) of OpenGuilds in its possession or control.  
  </li>
</ul>

<p>
  OpenGuilds agrees that upon any early termination of this Agreement, OpenGuilds will 
  allow the Customer to access, without the right to modify, enhance or add to, 
  the Customer Data (either through on-line access or an off-line mechanism provided 
  by OpenGuilds) for up to 45 days after termination. Thereafter, OpenGuilds will remove 
  all Customer Data from the System and all Customer access to or use of the System 
  and Service will be immediately suspended.   The rights and duties of the parties 
  under Sections 4 through 6, this Section 7.4 and Sections 8 through 11 will 
  survive the termination or expiration of this Agreement. 
</p>

</article>
</section>

<hr />

<section id="disclaimer-of-warranties">
<h2><strong>DISCLAIMER OF WARRANTIES.</strong></h2>
<p>
THE SERVICE AND ANY OTHER PRODUCTS AND SERVICES PROVIDED BY OPENGUILDS TO CUSTOMER 
ARE PROVIDED “AS IS”, “AS AVAILABLE”, WITH ALL FAULTS AND WITHOUT ANY WARRANTIES, 
REPRESENTATIONS OR CONDITIONS OF ANY KIND.  OPENGUILDS HEREBY DISCLAIMS ALL EXPRESS, 
IMPLIED, COLLATERAL OR STATUTORY WARRANTIES, REPRESENTATIONS OR CONDITIONS, WHETHER 
WRITTEN OR ORAL, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, 
NON-INFRINGEMENT, SECURITY, RELIABILITY, COMPLETENESS, QUIET ENJOYMENT, ACCURACY, 
QUALITY, INTEGRATION OR FITNESS FOR A PARTICULAR PURPOSE.  OPENGUILDS DOES NOT WARRANT 
THAT THE SERVICE WILL OPERATE WITHOUT INTERRUPTION OR BE ERROR FREE.  WITHOUT LIMITING 
THE GENERALITY OF ANY OF THE FOREGOING, OPENGUILDS EXPRESSLY DISCLAIMS ANY REPRESENTATION 
OR WARRANTY THAT ANY DATA OR INFORMATION PROVIDED TO CUSTOMER IN CONNECTION WITH 
CUSTOMER’S USE OF THE SERVICE (INCLUDING ALERTS AND RECOMMENDATIONS) IS ACCURATE, 
OR CAN OR SHOULD BE RELIED UPON BY CUSTOMER FOR ANY PURPOSE WHATSOEVER.
</p>

<p>
OPENGUILDS IS NOT RESPONSIBLE FOR THE ACTS OR OMISSIONS OF, OR FOR THE FAILINGS OF, 
ANY THIRD PARTY PROVIDER OF ANY SERVICE, NETWORK, SOFTWARE OR HARDWARE, INCLUDING 
BUT NOT LIMITED TO CROWDWORKER PLATFORMS, INTERNET SERVICE PROVIDERS, HOSTING 
SERVICES UTILIZED BY OPENGUILDS, TELECOMMUNICATIONS PROVIDERS, OR ANY SOFTWARE OR 
HARDWARE NOT PROVIDED BY OPENGUILDS.
</p>

<p>
THE SERVICES ARE OFFERED AND CONTROLLED BY OPENGUILDS FROM ITS FACILITIES IN CANADA.  
OPENGUILDS MAKES NO REPRESENTATIONS THAT THE SERVICES ARE APPROPRIATE OR AVAILABLE 
FOR USE IN OTHER LOCATIONS.  THOSE WHO ACCESS OR USE THE SERVICE FROM OTHER 
JURISDICTIONS DO SO AT THEIR OWN VOLITION ARE RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAW.
INDEMNITY.
</p>

<p>
Customer agrees to indemnify, defend and hold harmless OpenGuilds and its affiliates, 
and each of their respective officers, directors, agents, shareholders, employees 
and representatives (collectively, the “Indemnified Parties”), from and against 
any third party claim, demand, loss, damage, cost or liability 
(including reasonable attorneys’ fees) (collectively and individually, “Claims”) 
incurred by or made against the Indemnified Parties in connection with any Claims 
arising out of or relating to this Agreement or the Service, including without 
limitation in relation to: 
</p>

<ul>
  <li>(a) Customer’s use, non-use or misuse of the Service;</li>
  <li>(b) Customer’s violation or alleged violation of this Agreement;</li>
  <li>
    (c) Customer’s violation of any rights, including intellectual property rights, 
    of a third party and otherwise as set out herein; or 
  </li>
  <li>
    (d) an allegation that the Customer Data, or the use of Customer Data pursuant to this Agreement, infringes 
    the intellectual property rights or other rights of a third party or otherwise 
    causes harm to a third party.
  </li>
</ul>

<p>
  OpenGuilds reserves the right, at Customer’s 
  expense, to assume the exclusive defense and control of any matter for which Customer 
  is required to indemnify OpenGuilds and Customer agrees to cooperate with OpenGuilds’ 
  defense of these Claims.  Customer agrees to not settle any matter without the 
  prior written consent of OpenGuilds.  OpenGuilds will use reasonable efforts to 
  notify you of any such Claims upon becoming aware of them.
</p>

<article id="limitation-of-liability">
<h3>LIMITATION OF LIABILITY.</h3>
<p>
The following provisions have been negotiated by each party , are a fair 
allocation of risk, are an essential basis of the bargain under this Agreement 
and shall survive and continue in full force and effect despite any failure of 
consideration or of an exclusive remedy:
</p>

<h4>Amount.</h4>
<p>
OPENGUILDS’ TOTAL AGGREGATE LIABILITY FROM ANY AND ALL CLAIMS IN CONNECTION WITH 
OR UNDER THIS AGREEMENT IS LIMITED TO THE LESSER OF: (A) [$100] (B) THE TOTAL 
AMOUNT OF FEES RECEIVED BY OPENGUILDS UNDER THIS AGREEMENT IN THE [TWELVE MONTHS] 
IMMEDIATELY PRECEDING THE DATE THE CAUSE OF ACTION FIRST AROSE.  FOR GREATER 
CERTAINTY, THE EXISTENCE OF ONE OR MORE CLAIMS UNDER THIS AGREEMENT WILL NOT 
INCREASE THIS MAXIMUM LIABILITY AMOUNT.  IN NO EVENT SHALL OPENGUILDS’ SUPPLIERS 
HAVE ANY LIABILITY ARISING OUT OF OR IN ANY WAY CONNECTED TO THIS AGREEMENT.
</p>

<h4>Type.</h4>
<p>IN NO EVENT SHALL OPENGUILDS BE LIABLE TO CUSTOMER FOR ANY </p>
<ul>
  <li>(A) SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES,</li>
  <li>(B) LOST SAVINGS, PROFIT, DATA, USE OR GOODWILL,</li>
  <li>(C) BUSINESS INTERRUPTION, EVEN IF NOTIFIED IN ADVANCE OF SUCH POSSIBILITY, OR</li>
  <li>(D) PERSONAL OR PROPERTY DAMAGE ARISING OUT OF OR IN ANY WAY CONNECTED TO THIS 
      AGREEMENT, REGARDLESS OF CAUSE OF ACTION OR THE THEORY OF LIABILITY, WHETHER IN 
      CONTRACT, TORT (INCLUDING NEGLIGENCE, GROSS NEGLIGENCE, FUNDAMENTAL BREACH, 
      BREACH OF A FUNDAMENTAL TERM) OR OTHERWISE.    </li>
</ul>

<p>
IN NO EVENT SHALL OPENGUILDS BE LIABLE FOR PROCUREMENT OR COSTS OF SUBSTITUTE 
PRODUCTS OR SERVICES.
</p>

<h4>No Jury Trial.</h4>
<p>
CUSTOMER IRREVOCABLY AND UNCONDITIONALLY WAIVES ANY RIGHT CUSTOMER MAY HAVE TO A 
TRIAL BY JURY IN RESPECT OF ANY LEGAL ACTION ARISING OUT OF OR RELATING TO THIS AGREEMENT.
</p>

<h4>No Participating in Class Action.</h4>
<p>
CUSTOMER AGREES THAT, WITH RESPECT TO ANY DISPUTE ARISING OUT OF OR RELATING TO 
THIS AGREEMENT, CUSTOMER HEREBY GIVES UP ITS RIGHT TO PARTICIPATE AS A MEMBER OF 
A CLASS OF CLAIMANTS IN ANY LAWSUIT INCLUDING BUT NOT LIMITED TO CLASS ACTION 
LAWSUITS INVOLVING ANY SUCH DISPUTE.
</p>

<h4>Limitation of Time.</h4>
<p>
Customer agrees that it will not bring a claim under or related to this Agreement 
more than twelve (12) months from when such claim first arose.
</p>
</article>
</section>

<hr />

<section id="general-provisions">
<h2><strong>GENERAL PROVISIONS</strong></h2>

<article id="publicity">
<h3>Publicity.</h3>
<p>
OpenGuilds may make public announcements, including but not limited to, press 
releases and media announcements, of the existence of this Agreement and the 
relationship between the parties.  Customer agrees to allow OpenGuilds to use 
Customer’s name in customer lists and other promotional materials describing 
Customer as a customer of OpenGuilds and user of the Service.
</p>
</article>

<article id="assignment">
<h3>Assignment.</h3>
<p>
Customer may not assign this Agreement to a third party without OpenGuilds’ prior 
written consent not to be unreasonably withheld, except to a third party that 
controls, is controlled by or is under common control with Customer.  OpenGuilds 
may assign this Agreement or any rights hereunder to any third party without 
Customer’s consent.  Any assignment in violation of this Section 11.2 shall be 
void. Any assignment is conditional upon the assignee agreeing 
in writing to be bound to the terms of this Agreement which shall be binding upon 
and inure to the benefit of the parties’ successors and permitted assignees.
<p>
</article>

<article id="arbitration">
<h3>Arbitration.</h3>
<p>
Except for any dispute related to the intellectual property rights of a party, 
any dispute or claim arising out of or relating to this Agreement will be 
referred to and finally resolved arbitration administered by the British Columbia 
International Commercial Arbitration Centre pursuant to its applicable Rules.  
The place of arbitration shall be Vancouver, British Columbia, Canada.  The 
number of arbitrators shall be one (1).
</p>
</article>

<article id="choice-of-law">
<h3>Choice of Law.</h3>
<p>
This Agreement and any action related thereto shall be governed by and construed 
in accordance with the laws of the Province of British Columbia and the federal 
laws of Canada applicable therein, without regard to conflicts of law principles.  
The U.N. Convention on Contracts for the International Sale of Goods will not 
apply to this Agreement.
</p>
</article>

<article id="notices">
<h3>Notices.</h3>
<p>
Any notice or other communication required or permitted under this Agreement and 
intended to have legal effect must be given in writing: (i) to OpenGuilds, by 
email at nolan.tait@hitblocks.ai or by certified mail at 860 Roche Point Drive, North Vancouver V7H2V1 or 
(ii) to Customer, by email or by certified mail at the addresses set forth in the Order Form.  
Notwithstanding the foregoing, each party may change its address from time to 
time upon written notice to the other party of the new address.  
Notices will be deemed to have been given upon receipt, or when delivery is refused.
</p>
</article>

<article id="entire-agreement">
<h3>Entire Agreement.</h3>
<p>
This Agreement, including the Order Form, is the entire understanding and 
agreement of the parties, and supersedes any and all previous and contemporaneous 
understandings, agreements, proposals or representations, written or oral, between 
the parties, as to the subject matter hereof.  Only a writing signed by both 
parties may modify it.  
</p>
</article>

<article id="severability-and-waiver">
<h3>Severability and Waiver.</h3>
<p>
In the event that any provision of this Agreement is held to be invalid or 
unenforceable, the valid or enforceable portion thereof and the remaining provisions 
of this Agreement will remain in full force and effect.  Any waiver or failure 
to enforce any provision of this Agreement on one occasion will not be deemed a 
waiver of any other provision or of such provision on any other occasion.  
All waivers must be in writing.  Other than as expressly stated herein, the 
remedies provided herein are in addition to, and not exclusive of, any other 
remedies of a party at law or in equity. 
</p>
</article>

<article id="relationship-of-parties">
<h3>Relationship of the Parties.</h3>  
<p>
The parties to this Agreement are independent contractors, and no agency, 
partnership, franchise, joint venture or employee-employer relationship is 
intended or created by this Agreement.
</p>
</article>
</section>
</section>
